@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

body {
    font-family: Inter;
    font-size: 62.5%;
    background-color: #282d35;
}

header {
    position: sticky;
    top: 0;
}

nav {
    height: 100px;
    background-color: #21222a;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}

.brand {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.brand > h1 {
    font-size: 3.2em;
    font-weight: bold;
    color: #61dafb;
}

.brand > img {
    height: 50px;
    width: 50px;
}

.nav-items {
    display: flex;
    gap: 28px;
    color: white;
}

.nav-items > p {
    font-size: 1.8em;
    font-weight: 500;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 40px 60px 40px;
    min-height: calc(100vh - 160px);
}

main > h1 {
    font-size: 7.2em;
    font-weight: bold;
    text-align: center;
    color: white;
}

main > ul {
    padding-top: 60px;
    margin-left: 84px;
}

main > ul > li {
    font-size: 2.8em;
    color: #d2d2d2;
    margin-bottom: 28px;
}

main > ul > li:before {
    content: "";
    background: url("./bullet.svg") no-repeat center;
    background-size: contain;
    padding-right: 18px;
    margin-right: 24px;
}

main > ul > li:last-child {
    padding-bottom: 0;
}

main > img {
    min-width: 640px;
    position: fixed;
    right: -200px;
    bottom: -200px;
    z-index: -100;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    background-color: #21222a;
    position: relative;
}

footer > a {
    font-size: 1.8em;
    color: #d2d2d2;
}

@media (max-width: 640px) {
    nav {
        justify-content: center;
    }

    .nav-items {
        display: none;
    }

    main {
        padding-left: 20px;
        padding-right: 20px;
    }

    main > h1 {
        font-size: 7.2em;
    }

    main > ul > li {
        font-size: 2.8em;
    }

    main > ul {
        padding-top: 60px;
        margin-left: 0;
    }

    main > img {
        min-width: 400px;
        right: -200px;
        bottom: -60px;
    }

    footer > a {
        font-size: 1.8em;
    }
}
